.daysDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30%;
  padding: 2% 2% 2% 2%;
}

.selectTimeInputsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.selectTime {
  width: 100%;
  margin: 1px 2px 1px 2px;
  height: 35px;
  border-radius: 10px;
}

.btnsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dangerText {
  padding: 1%;
  border-radius: 10px;
  margin-top: 1%;
  background-color: rgb(224, 185, 185);
}

.btnNextDiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
